<?php
define('PRINTER_FILE', BLENDS_HOME . '/printme');
// define('DEBUG_CI', true);

class config_myblends
{
    public $password = ''; // Set a web password here
    public $highlight = '895c96';

    public function __construct()
    {
        $this->instance_name = 'My Blends';
        $this->db_creds = (object) [
            'db' => 'myblends',
            'username' => 'myblends',
            'password' => '', // specify mysql password here
            'host' =>'127.0.0.1',
        ];
        $this->plugins = [
            'myblends',
            'builtin',
        ];
        $this->periods = [
            'week',
            'month',
            'year',
            'day',
            'alltime',
        ];
        $this->blends = [
            'ledger',
        ];
    }
}

return new config_myblends();
